<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Monofett&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Monda&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/estilo.css">
    <link rel="stylesheet" href="./css/noticia.css">
    <link rel="stylesheet" href="./css/grid.css">
    <link rel="stylesheet" href="./css/boxcovid.css">
    <link rel="stylesheet" href="./css/maisvistas.css">
    <link rel="stylesheet" href="./css/footer.css">
    <title>NewsDotCom</title>
</head>

<body>
    <header>
        <div class="menu">
            <button class="menubtn">Menu</button>    
                <div class="menu-content">
                    <%- include ('../menu.ejs') -%>
                </div>
    
            </div>

           

        <h1> <a href="index">NewsDotCom</a></h1>
        <form action="">
            <div class="paddingBuscador">
                <input class="buscador" type="text" name="text" placeholder="BUSCAR">

                <button type="submit" style="display: none;">Click</button>
        </form>
        </div>
    </header>
    <div class="containerAll">
        <!-- <div class="boxCovid">
            <div class="covid">
                <a href="./covid/covid/covid.html">
                    <div class="sessao">Sessão COVID-19 </div>
                </a>
                <a href="">
                    <div class="resumodia">Resumo do dia</div>
                </a>
            </div>
        </div> -->
        <div class="container-c">
            <article>
                
                <% let tam = noticias.length - 1; for(let cont=tam; cont>-1; cont-- ){ %>
                    <div class="noticia">
                        <a href="noticia/<%=cont%>"><img class="imgNoticiaHome" src="./img/noticias/imagens/<%= noticias[cont].imagem %>" alt=""></a>
                        <div class="block">
                            <a href="">
                                <div class="categoriaId">
                                    <%= noticias[cont].categoriaId%>
                                </div>
                            </a>
                            <a href="noticia/<%=cont%>">
                                <div class="titulo">
                                    <%= noticias[cont].titulo %>
                                </div>
                            </a>
                            <a href="noticia/<%=cont%>">
                                <div class="resumo">
                                    <%= noticias[cont].resumo %>
                                </div>
                            </a>
                            <div class="tempo"> <%= noticias[tam].data%> - <%=noticias[tam].autor%>></div>
                        </div>
                    </div>
                    
                <% } %>
            </article>
        </div>
    </div>

    <footer>
        <div class="logo">NDC</div>
        <div class="copyright">© Copyright 2021-2021 NewsDotCom Comunicação S.A.</div>

    </footer>

</body>

</html>